body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #365582;
  }
  
  .container {
     background-color:#c0c0c0;
     margin-top: 2em;
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
     margin: 15px;
     padding:10px;
     
  }
  a.four:hover {
     font-family:monospace;
     font-size: 120%;
   }

  button:hover{
     border: aqua;
     border-top: 1px solid;
   
  }
  
  .inputValues tr {
   border-collapse: collapse; 
   
  }
  .inputValues tr:nth-child(even) {
   border-bottom: 1px solid lightgreen;
  }
  .inputValues tr:nth-child(odd) { /* some real spice right here */
   border-bottom: 1px solid rgb(4, 5, 5);
  }
  .inputValues label{
   display: inline-block; 
   float: left;
    clear: left;
    text-align: left;
  }
  .inputValues input {
   display: inline-block;
   float: right;
 }

  